[[extend "layout.html"]]
<table align="center" width="60%">
	<tr>
		<td><p align="center"><font size="5" color="blue">Розділ 3 формату НацкомФінПослуг</font></p><br><a href="[[=f1]]" download><img align="center" src="https://ytikhonov.files.wordpress.com/2015/08/excel.png?w=1200"></a></td>
		<td><p align="center"><font size="5" color="blue">Розділ 4 формату НацкомФінПослуг</font></p><br><a href="[[=f2]]" download><img align="center" src="https://ytikhonov.files.wordpress.com/2015/08/excel.png?w=1200"></a></td>
		<td><p align="center"><font size="5" color="blue">Розділ 3 і 4 за форматом ІАР</font></p><br><a href="[[=f3]]" download><img align="center" src="https://ytikhonov.files.wordpress.com/2015/08/excel.png?w=1200"></a></td>
	<tr>
</table>