[[extend "layout.html"]]
<table><tr><td>
<div align="center">
	<form method="post" action="multi_upload" enctype="multipart/form-data">
	Вкажіть назву компанії:
    <select name="company">
		[[for i in range(len(companies)):]]<option value=[[=(comp[i])]]>[[=(companies[i])]]</option>[[pass]]
    </select>
	<br>
	<input type="file" name="File" accept=".xml, .xls, .xlsx" webkitdirectory directory multiple="multiple">
	<br>
	<input type="submit" value="Загрузить">
	</form>
</div>
</td><td>
<div align="center">
	<p align="center" style="font-size:22px; color:red">Увага!!!</p>
	<table border=2 align="center" width="100%">
	<tr><th><p align="center">Формат</p></th><th><p align="center">Правило найменування</p></th><th><p align="center">Приклад</p></th></tr>
	<tr><td><p align="center">Нацкомфінпослуг Розділи 3 та 4</p></td><td><p align="center">номер кварталу - рік - "R-3/4"</p></td><td><p align="center">2-2020-R-3.xlsx, 4-2015-R-4.xls</p></td></tr>
	<tr><td><p align="center">Нацкомфінпослуг Журнал виплат та Резерв заявлених збитків</p></td><td><p align="center">номер кварталу(за якого був сформований файл) - рік - "payout/rezerv"</p></td><td><p align="center">2-2020-payout.xlsx, 4-2015-rezerv.xls</p></td></tr>
	<tr><td><p align="center">ІАР</p></td><td><p align="center">номер кварталу(останній з файлу) - рік - "IAR"</p></td><td><p align="center">4-2015-IAR.xls</p></td></tr>
	</table>
	<h4 strong align="center" style="color:red">Файли, що не відповідають данним вимогам не будуть опрацьовані</h4>
</div>
</td></tr><table>